{% extends "base.html" %}

{% block title %}Xflasky - 确认您的账户{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Hello
        您好,
        {{ current_user.username }}!
    </h1>
    <h3>You have not confirmed your account yet.
        您还没有确认您的账户。
    </h3>
    <p>
        Before you can access this site you need to confirm your account.
        在接入本网站之前您需要确认您的账户。
        Check your inbox, you should have received an email with a confirmation link.
        检查您的收件箱，您会收到一封带有确认链接的邮件。
    </p>
    <p>
        Need another confirmation email?
        需要再来一封确认邮件？
        <a href="{{ url_for('auth.resend_confirmation') }}">Click here点我重发</a>
    </p>
</div>
{% endblock %}
